@import url('./all.min.css');
@import url('./reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

div.hdrTopWrap {
    background-color: #212517;
}


div.hdrTopWrap > div.hdrTop {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    line-height: 40px;
    color: white;
}

div.hdrTopWrap > div.hdrTop > h5 {
    font-size: 35px;
    width: fit-content;
    margin-left: 100%;
    animation: move 5s infinite linear;
}

@keyframes move {
    0%{
        margin-left: 100%;
    }
    100%{
        margin-left: 0%;
    }
}

div.headerWrap {
    background-color: #A31F30;
}

div.headerWrap > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
}

div.headerWrap > header > h1 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
}

div.headerWrap > header > nav {
    display: flex;
    line-height: 80px;
    column-gap: 20px;
}

div.headerWrap > header > nav > h4 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 40px;
}
div.headerWrap > header > nav > h4:nth-of-type(4){
    display: none;
}


div.cntWrap {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap1 > div.content.cnt01 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

div.cntWrap.wrap1 > div.content.cnt01 > header {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap1 > div.content.cnt01 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

div.cntWrap.wrap1 > div.content.cnt01 > section {
    /* 스타일 추가 */
    margin-top: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop {
    display: flex;
    column-gap: 20px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.image {
    /* 스타일 추가 */
    height: 320px;
    background-color: #ccc;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts {
    /* 스타일 추가 */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: calc(100% / 6 * 0.7);
    padding-right: calc(100% / 6 * 2);
    border: 1px solid #D9D9D9;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > h4 {
    /* 스타일 추가 */
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    height: 80px;
    overflow: hidden;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts > div.icons {
    font-size: 22px;
    line-height: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm {
    display: flex;
    column-gap: 20px;
    margin-top: 40px;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article {
    /* 스타일 추가 */
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.image {
    /* 스타일 추가 */
    height: 320px;
    background-color: #ccc;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts {
    /* 스타일 추가 */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 23px;
    padding-right: calc(100% / 6 * 0.5);
    border: 1px solid #D9D9D9;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts > h3 {
    /* 스타일 추가 */
    line-height: 40px;
    font-size: 25px;
    line-height: 40px;
    font-family: "Mountains of Christmas", serif;
}

div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    height: 80px;
    overflow: hidden;
}
div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article > div.texts > div.icons {
    font-size: 22px;
    line-height: 40px;
}

div.cntWrap.wrap2 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap2 > div.content.cnt02 {
    width: 100%;
    max-width: auto;
}

div.cntWrap.wrap2 > div.content.cnt02 > header {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    color: white;
    background-color: #A31F30;
    padding-top: 40px;
    padding-bottom: 320px;

}

div.cntWrap.wrap2 > div.content.cnt02 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap2 > div.content.cnt02 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(80% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    max-width: 520px;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* 스타일 추가 */
}
div.cntWrap.wrap2 > div.content.cnt02 > section {
   margin: 0 auto;
   max-width: 1080px;
   width: 80%;
   margin-top: -280px;
    /* 스타일 추가 */
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.image {
    height: 440px;
    width: 50%;
    background-color: #ccc;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts {
    width: 50%;
    /* padding-top: 80px;
    padding-bottom: 80px; */
    background-color: #fff;
    /* padding-left: calc(100% / 12 * 1); */
   padding: 80px calc(100% / 12 * 1);
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > h4 {
    /* 스타일 추가 */
    line-height: 40px;
    text-align: center;
    font-weight: bold;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    height: 120px;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
}

div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts > div.button {
    /* 스타일 추가 */
    margin-top: 20px;
    line-height: 40px;
    background-color: #212517;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
}


div.cntWrap.wrap3 {
    /* 스타일 추가 */
    margin-top: 80px;
}

div.cntWrap.wrap3 > div.content.cnt03 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

div.cntWrap.wrap3 > div.content.cnt03 > header {
    /* 스타일 추가 */
}

div.cntWrap.wrap3 > div.content.cnt03 > header > h2 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 40px;
    text-align: center;
}

div.cntWrap.wrap3 > div.content.cnt03 > header > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    width: calc(100% / 12 * 6);
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

div.cntWrap.wrap3 > div.content.cnt03 > section {
    display: flex;
    column-gap: 20px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article {
    /* 스타일 추가 */
    height: 200px;
    overflow: hidden;
}
div.cntWrap.wrap3 > div.content.cnt03 > section >
 article:hover div.texts{
    margin-top: -200px;
    /* outline: 1px solid #A31F30; */
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.image {
    height: 200px;
    background-color: #ccc;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts {
    /* 스타일 추가 */
    /* padding-top: 40px;
    padding-bottom: 40px; */
    background-color: rgba(51,51,51,0.4);
    transition: margin-top 0.5s;
    padding: 40px 20px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts > h3 {
    /* 스타일 추가 */
    font-family: "Mountains of Christmas", serif;
    font-size: 25px;
    line-height: 40px;
}

div.cntWrap.wrap3 > div.content.cnt03 > section > article > div.texts > p {
    /* 스타일 추가 */
    line-height: 20px;
    font-size: 12px;
    height: 80px;
    overflow: hidden;
 
}

div.cntWrap.wrap3 > div.content.cnt03 > section {
    /* 스타일 추가 */
    margin-top: 40px;
}

div.footerWrap {
    background-color: #A31F30;
    margin-top: 80px;
}

div.footerWrap > footer {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

div.footerWrap > footer > h4 {
    font-family: "Mountains of Christmas", serif;
    text-transform: capitalize;
    line-height: 80px;
    font-size: 30px;
}

div.footerWrap > footer > p {
    /* 스타일 추가 */
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 12 * 8);
    margin: 0 auto;
}

div.footerWrap > footer > div.sns {
    line-height: 80px;
    font-size: 40px;
    /* 스타일 추가 */
}

div.footerWrap > footer > div.sns > i {
    /* 스타일 추가 */
}
/* tablet */
@media (max-width: 1024px) {
div.hdrTopWrap > div.hdrTop,
div.headerWrap > header,
div.cntWrap.wrap1 > div.content.cnt01,
div.cntWrap.wrap2 > div.content.cnt02 > section,
div.cntWrap.wrap3 > div.content.cnt03,
div.footerWrap > footer
{
width: 90%; 
 max-width: 600px;
}
div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article:nth-of-type(2){
    display: none;
}   
div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm > article:nth-of-type(3){
    display: none;
}
div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.texts{
    display: none;
}
div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.image{
    width: 100%;
}
div.cntWrap.wrap3 > div.content.cnt03 > header{
    display: none;
}
div.cntWrap.wrap3 > div.content.cnt03 > section > article{
    width:calc(50% - 15PX);
}
div.cntWrap.wrap3 > div.content.cnt03 > section{
    flex-wrap: wrap;
    row-gap: 40px;
    justify-content: space-between;
}
}
/* mobile */
@media (max-width: 420px) {
    div.headerWrap > header > nav>h4{
        display: none;
    }
    div.headerWrap > header > nav > h4:nth-of-type(4){
        display: block;
    }
    div.cntWrap.wrap1 > div.content.cnt01 > header > p{
        width: 100%;
    }
    div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article:nth-of-type(2){
        display: block;
    }
    div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop{
        flex-wrap: wrap;
        row-gap: 20px;

    }
    div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article{
        width: 100%;
    }
    div.cntWrap.wrap1 > div.content.cnt01 > section > div.artTop > article > div.texts{
        display: none;
    }
    div.cntWrap.wrap1 > div.content.cnt01 > section > div.artBtm{
        display: none;
    }
    div.cntWrap.wrap2 > div.content.cnt02 > section{
        margin-top: 0;
    }
    div.cntWrap.wrap2 > div.content.cnt02 > header{
        padding-bottom: 80px;
        width: 90%;
        margin: 0 auto;
    }
    div.cntWrap.wrap2 > div.content.cnt02 > section > article > div.image{
        height: 240px;
    }
    div.cntWrap.wrap3 > div.content.cnt03 > section > article{
        width: 100%;
    }
}