@import url(./all.min.css);
@import url(./reset.min.css);
/* 색깔 값
블랙 : #333333
보라 : #D1B5CE
*/

/* 헤더탑 */
div.hdrtopwrap{
    background-color: #333333;
}
div.hdrtopwrap>div.hdrtop{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.hdrtopwrap>div.hdrtop>div.icons{}
div.hdrtopwrap>div.hdrtop>div.icons>i{
    line-height: 40px;
    color: white;}
div.hdrtopwrap>div.hdrtop>nav{
    line-height: 40px;
    display: flex;}
div.hdrtopwrap>div.hdrtop>nav>h4{color: white;}

/* 헤더 */
div.hdrwrap{background-color: #A194A6;}
div.hdrwrap>header.hdr{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}
div.hdrwrap>header.hdr>h1{line-height: 80px;}
div.hdrwrap>header.hdr>nav{display: flex;}
div.hdrwrap>header.hdr>nav>h4{line-height: 80px;}
div.hdrwrap>header.hdr>nav>h4>i{}

/* 컨텐츠 공통 */
div.cntwrap{}
div.cntwrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.cntwrap>div.content>header{}
div.cntwrap>div.content>header>h2{
    line-height: 80px;
    text-align: center;
}
div.cntwrap>div.content>header>p{
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    width: calc(100% / 12 * 4.5);
    margin: 0 auto;
    text-align: center;
}
div.cntwrap>div.content>section{}
div.cntwrap>div.content>section>article{}
div.cntwrap>div.content>section article>div.img{
    background-color: #BFC7D2;
}
div.cntwrap>div.content>section>article>div.text{}
div.cntwrap>div.content>section article>div.text>h3{line-height: 40px;}
div.cntwrap>div.content>section article>div.text>h4{line-height: 40px;}
div.cntwrap>div.content>section article>div.text>p{
    height: 80px;
    line-height: 20px;
    overflow: hidden;
}


/* 컨텐츠1 */
div.cntwrap.cnt1{}
div.cntwrap.cnt1>div.content.cnt1{}
div.cntwrap.cnt1>div.content.cnt1>header{}
div.cntwrap.cnt1>div.content.cnt1>header>h2{}
div.cntwrap.cnt1>div.content.cnt1>header>p{}
div.cntwrap.cnt1>div.content.cnt1>section{}
div.cntwrap.cnt1>div.content.cnt1>section{}

div.cntwrap.cnt1>div.content.cnt1>section>div.arttop{
    display: flex;
    column-gap: 20px;
}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.img{
    height: 320px;
}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text>h3{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text>h4{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text>p{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text>div.icons{}
div.cntwrap.cnt1>div.content.cnt1>section>div.arttop>article>div.text>div.icons>i{}

div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom{
    display: flex;
    column-gap: 20px;
}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article{}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.img{
    height: 350px;
}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.text{}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.text>h3{text-align: center;}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.text>p{text-align: center;}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.text>div.icons{}
div.cntwrap.cnt1>div.content.cnt1>section>div.artbottom>article>div.text>div.icons>i{}

/* 컨텐츠2 */
div.cntwrap.cnt2{}
div.cntwrap.cnt2>div.content.cnt2{}
div.cntwrap.cnt2>div.content.cnt2>header{background-color: #918A9C;}
div.cntwrap.cnt2>div.content.cnt2>header>h2{}
div.cntwrap.cnt2>div.content.cnt2>header>p{width: calc(100% / 12 * 8);}
div.cntwrap.cnt2>div.content.cnt2>section{}
div.cntwrap.cnt2>div.content.cnt2>section>article{display: flex;}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.img{
    height: 400px;
    width: 50%;
}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.text{width: 50%;}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.text>h3{}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.text>h4{}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.text>p{
    height: 100px;
}
div.cntwrap.cnt2>div.content.cnt2>section>article>div.text>div.button{}

/* 컨텐츠3 */
div.cntwrap.cnt3{}
div.cntwrap.cnt3>div.content.cnt3{}
div.cntwrap.cnt3>div.content.cnt3>header{}
div.cntwrap.cnt3>div.content.cnt3>header>h2{}
div.cntwrap.cnt3>div.content.cnt3>header>p{}
div.cntwrap.cnt3>div.content.cnt3>section{
    display: flex;
    column-gap: 20px;
}
div.cntwrap.cnt3>div.content.cnt3>section>article{}
div.cntwrap.cnt3>div.content.cnt3>section>article>div.img{
    width: 250px;
    height: 240px;
}
div.cntwrap.cnt3>div.content.cnt3>section>article>div.text{}
div.cntwrap.cnt3>div.content.cnt3>section>article>div.text>h3{}
div.cntwrap.cnt3>div.content.cnt3>section>article>div.text>p{}

/* 푸터 */
div.ftrwrap{background-color: #A194A6;}
div.ftrwrap>footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.ftrwrap>footer>h4{
    line-height: 80px;
    text-align: center;}
div.ftrwrap>footer>p{
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    width: calc(100% / 12 * 4.5);
    margin: 0 auto;
    text-align: center;
}
div.ftrwrap>footer>div.sns{}
div.ftrwrap>footer>div.sns>i{line-height: 80px;}
